</div>
<!-- FIN BARBA JS -->

</div>
</li>





<!---**********************************
INFO
******************************-->
<li>
  <a class="navlinks" href="{{ site.url }}/assets/1.jpg">Info</a>
  <div class="ac_subitem">
    <span class="ac_close"></span>
    <div class="scrollable">
      <article class="post-content">
        <H3>Bio</h3>

        <p>Claudio Maldonado Xunorus is composer, guitar soloist, computer musician and developer from Patagonia Argentina. Disciple of masters Claudio Ceccoli, Armando de la Vega y Gustavo Fedel and Pirai Vaca. Claudio has participated in master classes,
          workshops and special studies with J. Sad, R Sigal, David Rosenboom, Francisco Colasanto, Ajay Kapur, Jorge Morel, Eduardo Isaac, Carlos Perez, Roman Viasovsky, Maria Isabel Siewers, Carlos Groisman, Marco Tamayo, Daniel Wolf, Humberto Amorim
          y Pablo DiGiusto among others , and also took conducting lessons with Jorge Fontenla. Claudio has received several awards and grants like Young Creators 2005 (Argentina National Cultural Department), Practicas de Vuelo (2005, CMMAS- México),
          National Arts Funds (2008), Distintion by Conservatorio de las Rosas (2005), Distintion by Secretaría Cultura Cotija de la Paz(2005 Michoacán -Mexico) and International meeting of Classical Guitar, La Falda (Cordoba 2013).
        </p>
        <p>In the computer music field he has developed several research and creation projects at I.I.eS.Mu.M.D (2003), LIPM (2004), CMMAS (2005), developing software and projects focused on mixed music. Claudio is the founder of Energia Sonora, an organization
          aimed to promote new music in patagonia region. Whithin that organization, from 2003 to 2010, was run the Festival Patagónico de Música Contemporáea, Electroacútica y Arte Sonoro, devoted to the promotion and search of contemporary musical expressions.
          In 2008 Transatlantic Arts Consortium (CalArts- Idyllwild-Dartinton Hall Trust) selected him as a international composer-performerand commissioned "Ah!"an opera no-opera , premiered at REDCAT, Walt Disney Concert Hall, LA. California, EEUU on
          2009. On April 2009 he premiered his quintet Suite Patagónica with FCP String Quartet. On June 2010, premiered “Colección” a 42 minutes suite for chamber orchestra, guitar and electronics, inspired on Georg Miciu 's painting. In 2013 lauched
          his debut album called Cantata,an original conceptual work for string quartet and guitar.
        </p>
        <p>Has played concerts touring Argentina, México, Chile, Bolivia, Spain, Uk, germany and Unites States at festivals, fine halls and events like: Walt Disney Concert Hall, REDCAT- 2009 (L.A.-EEUU), Teatro del Lago (Frutillar- Chile 2012), Camping
          Musical Bariloche (Rio Negro-Arg.), Colorado Springs Guitar Society, Universidad Nacional de Córdoba, Festival Guitarras del Mundo 2009, Sala Tita Merelo-Sonoimágenes 2007 (internacional Multimedia Festival, UNLa), 404 International Festival
          of Electronic Art , XVIII electroacustic Music nacional Meeting( FARME Cordoba Argentina), XXI Week of the electroacustic music and other media (FARME Santa Fe Argentina), 6to “Encuentro de Guitarristas en el sur neuquino", Buenache 2008 (España),
          Visiones Sonoras 2005 (México DF), Manzana de las luces (Bs As-Arg.), Sala prícipe de Asturias (Rosario-Arg.), Conservatorio de las Rosas (Morelia- Mex), Camping Musical Bariloche (Rio Negro-Arg.), Universidad Nacional de Córdoba, Festival Guitarras
          del Mundo 2009, others.
        </p>

        <h3>Contacto</h3>
        <a href="mailto: {{ site.email }}"> {{ site.email }}
        <a href="tel: {{ site.phone }}">{{ site.phone }}</a>

        <h3>Address</h3> {{ site.address }}

        <h3>Bitcoin Address</h3> I do like incomming electronic traffic on TCP-Port 8333 ({{ site.btcaddress }}).

        <div id="qrcode"></div>
        <script type="text/javascript">
          new QRCode(document.getElementById("qrcode"), "{{ site.btcaddress }}");
        </script>

        <ol>
          <li>
            <a href="mailto: {{ site.email }}"> {{ site.email }}
     </a>
          </li>

          <li>Twitter
            <a target="_blank" href="https://www.facebook.com/xunorus/">@xunorus</a>
          </li>

          <li><a target="_blank" href="http://www.youtube.com/xunorus">Youtube Channel</a></li>
          <li> <a target="_blank" href="https://vimeo.com/6025221">Passengers Parasites Video</a></li>
          <li>Photographs:<a target="_blank" href="https://goo.gl/photos/fWKXutCbcUKroR5k8">by Eliseo</a> | <a target="_blank" href="http://eliseomiciu.com/">all sets</a></li>

        </ol>

        <H3>Dossier</h3>

        <ol>
          <li>
            <a class="glow" href="#" onclick="window.open( 'https://xunorus.com/uploads/xunorus_dossier_Full_2017-9a.pdf', '_blank', 'fullscreen=yes'); return false;">Dossier 2017 (Castellano)</a>
          </li>
          <li>
            <a class="glow" href="#" onclick="window.open('https://xunorus.com/uploads/xunorus_dossier_english_Full_2017-9a.pdf', '_blank', 'fullscreen=yes'); return false;">Dossier 2017 (English)</a>
          </li>
          <li>
            <a class="glow" href="#" onclick="window.open('{{ site.url }}/archivos/XunorusTrioDossierDePresse2016.pdf', '_blank', 'fullscreen=yes'); return false;">Dossier de Presse - PDF</a>
          </li>

        </ol>
        <H3>Selected Works</h3>
        <ol>
          <li><a target="_blank" href="https://open.spotify.com/album/7zjhp0MiESpCNIqXBA9Bjc">Cantata</a> | Folk Chamber Music</li>

          <li>
            <a target="_blank" href="http://centerfornewperformance.org/project/ah/">Ah!| Opera no-opera:
      </a> an immersive visual and sonic opera no opera ( 2009)</li>

          <li>
            <a target="_blank" href="http://xunorus.com/the-great-year-art-of-fugue/">A musical Calendar  </a>: compositional algorithms
          </li>

          <li>
            <a target="_blank" href="{{ site.url }}/sp/">Patagonic Suite
</a>: FC Patagonia String Quartet ( 2009)</li>

          <li>
            <a target="_blank" href="{{ site.url }}/coleccion">Coleccion
  </a>: concert for guitar , string quintet, wind quintet and electronics(2011)</li>

          <li><a target="_blank" href="{{ site.url }}/mde/">Music From The Stars</a>: an immersive virtual reality opera ( 2015)
          </li>


          <H3>Energia Sonora</h3>


          <li> <a target="_blank" href="//energiasonora.es/">ENERGIA SONORA</a>
            <i>co-founder + artistic director</i> (until 2010)<br>
            <br><br> check it <a target="_blank" href="http://energiasonora.es/">here</a>.
          </li>

        </ol>



      </article>

    </div>
  </div>
</li>


<!---**********************************
   LOGIN
  ******************************-->
<!-- <li>
    <a id="login" class="navlinks" href="{{ site.url }}/assets/1.jpg">LOGIN</a>
    <div class="ac_subitem">
      <span class="ac_close"></span>
      <div class="scrollable">

        <div id="root">

        </div>

<button id="guardar">Guardar</button>


      </div>
    </div>
  </li> -->



<!---**********************************
     MUSIC
    ******************************-->
<li class=" text-wrap">
  <a class="navlinks  text" href="{{ site.url }}/assets/2.jpg">Music</a>

</li>



</ul>

<h1 id="tituloPrincipal" class="text-effect-loop">
  <a href="{{ site.url}}/">Xunorus</a>
  <a href="{{ site.url}}/">  <span>Xunorus, Claudio Maldonado</span></a>
  <a href="{{ site.url}}/">  <span>Composer- Guitarrist</span></a>
</h1>


</div>


<!-- COMIENZO INSERCION -->

<elec class="wrapper">
  <!-- Wave bg-->
  <!-- <div class="wave-container"></div> -->





  <!-- <div class="text-wrap">
    <div class="text"><span>play</span>
      <div class="main-btn_wrapper"><i class="main-btn fa fa-play" aria-hidden="true"></i></div>
    </div>
  </div> -->

  <!-- puede ser checkout -->
  <div class="nav">
<h1>Playlist</h1>


    <div class="list_wrapper">
      <ul id='playlist' class="list">


        <li class="list_item selected">
          <div class="thumb"> </div>
          <div class="info">
            <div class="title">Friday Comes</div>
            <div class="artist">Early</div>
            <source src="https://firebasestorage.googleapis.com/v0/b/suite-patagonica.appspot.com/o/suitePatagonica%2F1.preludioSideral.mp3?alt=media&token=49cd61b2-8c70-479a-aad9-71fffd9d6399" type="audio/mpeg"/>
          </div>
        </li>




        <li class="list_item">
          <div class="thumb"> </div>
          <div class="info">
            <div class="title">Friday Comes</div>
            <div class="artist">Early</div>
          </div>
        </li>
      </ul>
    </div>
  <!-- </div> -->

    <!--  -->

      <!-- <ul id='playlist' class="ui-sortable playlist" unselectable="on" style="-moz-user-select: none;">


        <li id="c_album_1_0" class="jplayer_playlist_current"><a href="#" class="jplayer_playlist_current" tabindex="1">Our Resolve</a><span></span>
          <div class="mp_mp3" style="display:none;">music/album1/ramblinglibrarian_-_Our_Resolve.mp3</div>
          <div class="mp_ogg" style="display:none;">music/album1/ramblinglibrarian_-_Our_Resolve.ogg</div>
        </li>
        <li id="c_album_1_1"><a href="#" class="tabindex='1'">How do I make you see</a><span></span>
          <div class="mp_mp3" style="display:none;">music/album1/ramblinglibrarian_-_Rock_Version_-_How_Do_I_Make_You_See_1.mp3</div>
          <div class="mp_ogg" style="display:none;">music/album1/ramblinglibrarian_-_Rock_Version_-_How_Do_I_Make_You_See_1.ogg</div>
        </li>


      </ul> -->


    <!-- <ul  id='playlist' class="nav_main">
      <li> <a class="nav_link">Home	</a></li>
      <li> <a class="nav_link">blog</a></li>
      <li> <a class="nav_link">Scores</a></li>
      <li> <a class="nav_link">Dossier</a></li>
      <li> <a class="nav_link">Commision</a></li>
      <li> <a class="nav_link">Software</a></li>
    </ul>
    <div class="nav_divider"></div>
    <ul class="nav_sub">
      <li><a class="nav_link" href="">About	</a></li>
      <li><a class="nav_link" href="">Contact	</a></li>
    </ul> -->
  </div>
  <!--FIN  puede ser checkout -->



  <!-- puede ser checkout2 -->
  <!-- <div class="mini-player">
    <ol>

    </ol>
    <div class="track_info_wrapper">
      <div class="track_info">
        <div class="thumb"></div>
        <div class="info">
          <div class="title">Friday Comes</div>
          <div class="artist">Early</div>
        </div>
      </div>
    </div>
    <div class="mini-player_btn_wrapper"><i class="btn-prev fa fa-step-backward" aria-hidden="true"></i>
      <div class="btn-switch"><i class="btn-play fa fa-play" aria-hidden="true"></i><i class="btn-pause fa fa-pause" aria-hidden="true"></i></div><i class="btn-next fa fa-step-forward" aria-hidden="true"></i><i class="btn-open-player fa fa-list" aria-hidden="true"></i>
    </div>

  </div> -->
  <!-- FIN puede ser checkout2 -->


  <div class="dim"></div>




  <!-- MENU CENTRAL DE CDS -->
  <div class="page" id="curator">
    <div class="curator_title_wrapper"><span>LP</span>
      <div class="curator_line"></div>
      <div class="curator_title">Choose</div>
      <div class="curator_line"></div><span>14</span>
    </div>
    <div class="curator_list">
      <!-- <div class="curator_list_content main-carousel"> -->
    <div  class="curator_list_content scroll ">

        <!-- <div class="curator_list_content_desc ">Select <br/>a L.P. </div> -->


        <div class="item carousel-cell">
          <div class="thumb"></div>
          <div class="info">
            <div class="name">Cantata Instrumental</div>
            <div class="desc">Feat. FC Patagonia String Quartet</div>
          </div>
        </div>

        <div class="item carousel-cell">
          <div class="thumb"></div>
          <div class="info">
            <div class="name">Coleccion</div>
            <div class="desc">Feat. FC Patagonia Chamber Orchestra</div>
          </div>
        </div>

        <div class="item carousel-cell">
          <div class="thumb"></div>
          <div class="info">
            <div class="name">Suite Patagonica</div>
            <div class="desc">feat. FC Patagonia String Quartet</div>
          </div>
        </div>
        <div class="item carousel-cell">
          <div class="thumb"></div>
          <div class="info">
            <div class="name">Tierra del Viento</div>
            <div class="desc">Feat. based on Eliseo Miciu Photographs</div>
          </div>
        </div>
        <div class="item carousel-cell">
          <div class="thumb"></div>
          <div class="info">
            <div class="name">Expresiones</div>
            <div class="desc">Electroacustic experiences</div>
          </div>
        </div>
        <div class="item carousel-cell">
          <div class="thumb"></div>
          <div class="info">
            <div class="name">Fantasy</div>
            <div class="desc">Sam</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN MENU CENTRAL DE CDS -->

</elec>


<!-- FIN INSERCION -->

</div>
<!-- content-->






<!---**********************************
PLAYER
******************************-->
<script type="text/javascript" src="{{ site.url}}/assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="{{ site.url}}/assets/js/texteffects.min.js"></script>
<script type="text/javascript" src="{{ site.url}}/assets/js/script.js"></script>
{% include player.html %}
<script type="text/javascript" src="{{ site.url}}/assets/js/xunoplayer1.js"></script>
<!-- <script type="text/javascript" src="{{ site.url}}/assets/js/qrcode.min.js"></script> -->



<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCyvm08sPPBHBHG5jUI53Tej6XNQtkoHIs",
    authDomain: "xunorus-website.firebaseapp.com",
    databaseURL: "https://xunorus-website.firebaseio.com",
    projectId: "xunorus-website",
    storageBucket: "xunorus-website.appspot.com",
    messagingSenderId: "547757899508"
  };
  firebase.initializeApp(config);
</script>

<!-- <script type="text/javascript" src="{{ site.url}}/assets/js/mobile.js"></script> -->
<script type="text/javascript" src="{{ site.url}}/assets/js/jquery.imagesloaded.min.js"></script>
<!-- <script type="text/javascript" src="{{ site.url}}/assets/js/app.js"></script> -->


<script type="text/javascript" src="{{ site.url}}/assets/js/TweenMax.min.js"></script>
<script type="text/javascript" src="{{ site.url}}/assets/js/TimelineMax.min.js"></script>
<script type="text/javascript" src="{{ site.url}}/assets/js/cds.js"></script>

<!-- <script type="text/javascript" src="{{ site.url}}/assets/js/flickity.pkgd.min.js"></script> -->
<!-- <script type="text/javascript" src="{{ site.url}}/assets/js/flickity.script.js"></script> -->


<script>

</script>

</body>

<script type="text/javascript" src="{{ site.url}}/assets/js/velocity.min.js"></script>
<script type="text/javascript" src="{{ site.url}}/assets/js/velocity.ui.min.js"></script>
<script type="text/javascript" src="{{ site.url}}/assets/js/barbaScripts.js"></script>


<script type="text/javascript" src="{{ site.url}}/assets/js/jquery.mobile-events.min.js"></script>
<script type="text/javascript" src="{{ site.url}}/assets/js/fullscreen.js"></script>


<!-- <script type="text/javascript" src="{{ site.url}}/assets/js/flickity.pkgd.min.js"></script> -->
<script type="text/javascript" src="{{ site.url}}/assets/js/touch-scroll.min.js"></script>
<script>
$('nav').touchScroll(); // Creates touch-scrollable content for a 'nav' element

// var scroll = document.querySelector('.scroll');
// var flickity = new Flickity( scroll, {
//  cellAlign: 'left',
//  freeScroll: true,
//  prevNextButtons: false,
//  pageDots: false,
//  contain: true
// });


</script>


<!-- <script type="text/javascript" src="{{ site.url}}/assets/js/jquery.jcarousel.min.js"></script> -->
<!-- <script type="text/javascript" src="{{ site.url}}/assets/js/xplayer.js"></script> -->



</html>
