<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title }}</title>



  <meta charset=utf-8>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


  <!--optimizing for search engine -->
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"> {% if page.robots %}
  <meta name="robots" content="{{ page.robots }}"> {% endif %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"> {% if page.next.url %}
  <link rel="next" href="{{ page.next.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" title="{{ page.next.title }}"> {% endif %} {% if page.previous.url %}
  <link rel="prev" href="{{ page.previous.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" title="{{ page.previous.title }}"> {% endif %}
  <!--optimizing for search engine end -->



  <!-- <script src="https://use.fontawesome.com/47d67ad576.js"></script> -->

  <link rel="shortcut icon" href="{{ site.url }}/img/favicon.ico">
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/main.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml " | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
  <!-- <script type="text/javascript" src="{{ site.url}}/assets/js/smooth-scroll.min.js"></script>
  <script>
  	var scroll = new SmoothScroll('a[href*="#"]');
  </script> -->

  <script src="{{ site.url}}/assets/js/barba.min.js"  type="text/javascript"></script>
  <!-- <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
  <!-- <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
  <script src="{{ site.url}}/assets/js/jquery-1.11.0.min.js" type="text/javascript"></script>
  <script src="{{ site.url}}/assets/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
  <script src="{{ site.url}}/assets/js/qrcode.min.js" type="text/javascript"></script>
  <script src="{{ site.url}}/assets/js/mediaelement-and-player.min.js" type="text/javascript"></script>
  <!-- <script type="text/javascript" src="{{ site.url}}/assets/js/xunoplayer1.js"></script> -->

</head>

<body>
  <div id="ac_background" class="ac_background">
    <img class="ac_bgimage" src="{{ site.url}}/assets/1.jpg" alt="Xunorus" />
    <div class="ac_overlay noselect"></div>
    <!-- <div class="semipolar-spinner spinner" :style="spinnerStyle"> <div class="ring"></div> <div class="ring"></div> <div class="ring"></div> <div class="ring"></div> <div class="ring"></div> </div> -->

<div class="looping-rhombuses-spinner spinner"> <div class="rhombus"></div> <div class="rhombus"></div> <div class="rhombus"></div> </div>
  </div>




  <div id="ac_content" class="ac_content">


    <!-- <div class="header"> -->


    <div class="burger-wrapper">
      <div class="burger"></div>
    </div>

    <!-- <div class="back_btn ac_closeMusic "> -->
    <div class="back_btn ">
      <div class="circle"></div>
      <div class="text fa fa-arrow-left">Back</div>
    </div>

<!-- COMIENZA MENU -->
    <div class="ac_menu">


    <!-- </div> -->




      <ul class="">
<!---*************************
INFO
******************************-->
<li>
          <a class="navlinks" id="bloglink" href="{{ site.url}}/assets/2dark.jpg">Blog </a>
          <div class="ac_subitem">
            <span class="ac_close"></span>
    <!-- COMIENZO DE BARBA JS -->
            <div id="barba-wrapper">
