
//  ===== Global Values =====
$color-bg: #000;
$color-light: orange;
$color-black: $color1;
$color-gray: $color1;
// $color-gray: rgb(0, 255, 255);

i[class^="btn"] {
	font-size: 20px;
	margin-right: 30px;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

ul, li {
	list-style: none;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

//  ===== Body =====
body {
	margin: 0;
	background-color: $color-bg;
	font-family: 'Audiowide', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1rem;
	overflow: hidden;
	width: 100vw;
}

// ===== Wave Experiment =====
.wave-container {
	width: 300vw;
	height: 100%;
	position: fixed;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
}

.wave {
	opacity: 1;
	position: absolute;
	top: 60%;
	left: -28%;
	background: #18DFAD;
	background: green;
	width: 100%;
	height: 300vw;
	transform-origin: 50% 49%;
	border-radius: 49%;
	-webkit-animation: drift 3000ms infinite linear;
	animation: drift 8000ms infinite linear;
	will-change: transform;
	// z-index: 3;
}
.wave.-two {
	animation: drift 9000ms infinite linear;
	opacity: 1;
	background: #33476a;
	background: green;
	top: 60%;
	left: -32%;
}

.wave.-three {
	animation: drift 4000ms infinite linear;
	opacity: 1;
	background: #F12645;
	background: green;
	top: 60%;
	left: -36%;
	z-index: -2;
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
// ===== /Wave Experiment =====

// ===== Wrapper =====
.bg {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 50%;
	background-color: color1;
	z-index: -1;
}

.line {
	position: fixed;
	left: 50vw;
	width: 2px;
	height: 80px;
	top: 24vh;
	background-color: $color1;
}

// .text-wrap {
// 	position: absolute;
// 	width: 10vw;
// 	height: 10vh;
// 	top: 4em;
//
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
//
// 	.text {
// 		cursor: pointer;
// 		position: relative;
// 		color: $color1;
// 	}
//
// 	span {
// 		color: $color-light;
// 		font-size: 100px;
// 		font-weight: 300;
// 		padding: 0 2%;
// 	}
// }

.main-btn_wrapper {
	position: absolute;
	right: -25%;
	top: calc(50% - 18px);
	width: 36px;
	height: 36px;
	// background-color: rgb(255, 0,0);
	border-radius: 50%;
	text-align: center;
	display: none;
	opacity: 0;
	transform: scale(0);
	transform-origin: bottom;

	.main-btn {
		line-height: 36px;
	}

}




// ===== Header =====
.header {
	position: fixed;
	left: 2.2vw;
	top: 2.2vw;
	margin-left: -4px;
	margin-top: -6px;
	color: $color-black;
	z-index: 103;
	display: flex;
	cursor: pointer;
	align-items: center;
	height: 30px;
	.burger-wrapper {
		width: 20px;
    height: 30px;
    margin-right: 20px;
    display: flex;
    align-items: center;
	}

	.burger {
		width: 20px;
		height: 3px;
		background-color: $color-black;
		position: relative;

		&:before, &:after {
			content: '';
			width: 20px;
			height: 3px;
			background-color: $color-black;
			position: absolute;
			left: 0;
		}

		&:before {
			top: -6px;
		}

		&:after {
			top: 6px;
			width: 14px;
		}
	}

	.logo-text {
		font-size: 20px;
		color: $color-black;
	}
}

.back_btn {
	cursor: pointer;
	position: relative;
	color: rgba($color1,1);
	font-size: 18px;
	display: flex;
	align-items: center;
	display: none;
	opacity: 0;
	float: right;
margin-right: 2em;
z-index: 1;

	.circle {
		background-color: rgba($color1,0.3);
		width: 24px;
		height: 24px;
		border-radius: 50%;
		margin-right: 8px;
	}
}


// ===== Navigation =====
.nav {
	will-change: transform;
	position: fixed;
	background-color: $color0;
	width: 40vw;
	min-width: 350px;
	height: 100vh;
	z-index: 10;
	box-shadow: 0 30px 80px 0 rgba($color2,0.25);
	display: none;
	top: 0;
z-index: 99;
border-right: solid $color1;

height: 87vh;

overflow: hidden;
	ul {
		color: $color1;

		&.nav_main {
			// margin-top: 20vh;
		}

		&.nav_sub {
			margin-top: 3vh;

			a {
				font-size: 2.4vw;
			}
		}

		li {
			margin-left: 1vw;
			margin-bottom: .5vw;
			position: relative;
		}
	}
}

.nav_link {
	font-size: 3.8vw;
	cursor: pointer;

	&:before {
		content: '';
		position: absolute;
		width:  4vw;
		height: 2px;
		background-color: $color-gray;
		left: -12vw;
		top: 50%;
		transition: 0.4s;
	}
}

.nav_divider {
	width: 3vw;
	height: 1px;
	background-color: rgba($color1,0.12);
	margin: 4vh 6vw;
}

.nav li .nav_link:hover:before {
	left: -6vw;
}

// ===== Mini Player =====
// .mini-player {
// 	color: #252120;
// 	position: fixed;
// 	height: 32px;
// 	left: 2.2vw;
// 	top: 11.2vw;
// 	z-index: 1;
// 	display: flex;
// 	align-items: center;
// }
//
//


//
// .track_info_wrapper {
// 	border-right: 1px solid rgba(24,38,69,0.11);
// 	margin-right: 23px;
// 	padding-right: 30px;
//
// 	.track_info {
// 		display: flex;
// 		align-items: center;
// 		cursor: pointer;
// 		opacity: 1;
//
// 		.thumb {
// 			width: 32px;
// 			height: 32px;
// 			margin-right: 10px;
// 			background-color: #D3D6DA;
// 			border-radius: 2px;
// 			background-size: cover;
// 			background-image: url(https://i1.sndcdn.com/artworks-000167527289-p3zpfg-large.jpg);
// 		}
//
// 		.title {
// 			white-space: nowrap;
// 			overflow: hidden;
// 			text-overflow: ellipsis;
// 			font-size: 14px;
// 		}
//
// 		.artist {
// 			white-space: nowrap;
// 			overflow: hidden;
// 			text-overflow: ellipsis;
// 			font-size: 12px;
// 			color: rgba(37,33,32,0.7);
// 		}
// 	}
// }

// ===== Mini Player Buttons =====
// .mini-player_btn_wrapper {
// 	display: flex;
// 	justify-content: space-between;
// 	position: relative;
// }
//
// .btn-switch {
// 	width: 30px;
// 	display: flex;
// 	margin-right: 30px;
// 	justify-content: center;
// }
//
// .playback_btn_wrapper .btn-switch {
// 	margin-right: 0;
// }
//
// .btn-play, .btn-pause {
// 	position: absolute;
// }
//
// .btn-pause {
// 	display: none;
// 	opacity: 0;
// }

// ===== Player =====

.dim {
	will-change: opacity;
	width: 100vw;
	height: 100vh;
	background-color: rgba($color2,0.2);
	position: fixed;
	background-color: rgba($color0, 0.701961);
	z-index: 110;
	display: none;
	z-index: 2;
	opacity: 0;
	bottom: 0; //fix
}

// ===== Player =====
// .player {
// 	will-change: transform;
// 	display: none;
// 	position: fixed;
// 	right:0;
// 	top: 0;
// 	width: 600px;
// 	height: 100%;
// 	background-color: #fff;
// 	box-shadow: 0px 25px 60px 0px rgba(97,45,45,0.4);
// 	font-size: 14px;
// 	z-index: 999;
// }

// ===== Player - Playback =====
// .playback_wrapper {
// 	height: 310px;
// 	position: relative;
// 	overflow: hidden;
// 	background-color: $color-light;
// }
//
// .playback_blur {
// 	width: 100%;
// 	height: 100%;
// 	background-size: cover;
// 	background-position: center;
// 	position: absolute;
// 	transform: scale(1.1);
// 	filter: blur(32px);
// 	opacity: 0.24;
// 	background-image: url(../cds/cantata500.jpg);
//
// }
//
// .playback_thumb {
// 	transition: 0.5s;
// 	width: 164px;
// 	height: 164px;
// 	border-radius: 5px;
// 	background-size: cover;
// 	position: absolute;
// 	margin: 35px;
// 	box-shadow: 0px 12px 30px 0px rgba(97,45,45,0.2);
// 	background-image: url(../cds/cantata500.jpg);
//
// }
//
// .playback_info {
// 	display: block;
// 	position: absolute;
// 	left: 164px;
// 	z-index: 10;
// 	margin: 42px 8px 8px 70px;
// 	width: 55%;
// 	min-width: 100px;
// 	mix-blend-mode: color-burn;
//
// 	.title {
// 		font-size: 30px;
// 		display: inline;
// 		color: $color-black;
// 	}
//
// 	.artist {
// 		margin-top: 14px;
//     font-size: 16px;
//     opacity: 0.34;
// 		color: $color-black;
// 	}
// }
//
// .playback_btn_wrapper {
// 	position: absolute;
// 	z-index: 10;
// 	mix-blend-mode: color-burn;
// 	width: 124px;
// 	left: 55px;
// 	top: 240px;
// 	opacity: 0.6;
// 	display: flex;
// 	justify-content: space-between;
//
// 	i {
// 		margin: 0;
// 	}
// }
//
// .playback_timeline {
// 	position: absolute;
// 	width: 60%;
// 	left: 234px;
// 	top: 238px;
// 	mix-blend-mode: color-burn;
// 	color: #252120;
// }
//
// .playback_timeline_start-time, .playback_timeline_end-time {
// 	font-size: 14px;
// 	opacity: 0.4;
// 	margin-right: 15px;
// 	display: inline-block;
// 	vertical-align: middle;
// }

// .playback_timeline_slider {
// 	height: 24.67px;
// 	position: relative;
// 	cursor: pointer;
// 	width: 65%;
// 	margin-right: 15px;
// 	opacity: 1;
// 	display: inline-block;
// 	vertical-align: middle;
//
// 	.slider_base {
// 		width: 100%;
//     height: 2px;
//     background-color: rgba(37,33,32,0.12);
//     border-radius: 2px;
//     position: absolute;
//     top: 12px;
// 	}
//
// 	// 	Manipulate ScaleX to grow the progress bar
// 	.slider_progress {
// 		transform: matrix(0.15812, 0, 0, 1, 0, 0);
// 		transform-origin: 0 0;
// 		width: 100%;
//     height: 2px;
//     background-color: rgba(37,33,32,0.5);
//     border-radius: 2px;
//     position: absolute;
//     top: 12px;
// 	}
//
// 	// 	Manipulate TranslateX to grow the progress bar
// 	.slider_handle {
// 		transform: matrix(1, 0, 0, 1, 37, 0);
// 		width: 12px;
// 		height: 12px;
// 		background-color: rgb(37, 33, 32);
// 		border-radius: 50%;
// 		position: absolute;
//     top: 7px;
//     left: -6px;
// 	}
// }





// ===== Player - List =====
.list_wrapper {
	// height: calc(100% - 310px);
	// overflow: hidden;
	overflow: auto;
	// height: calc(100% - 310px);
overflow: auto;
		// overflow-x: auto;
height: 78vh;
width: 100%;
overflow-x: hidden;
// background: red;
}

.list {
	padding: 20px 0;

	.list_item {
		display: flex;
		align-items: center;
		cursor: pointer;
		width: 100%;
		height: 74px;
		transition: 0.4s;
		background: $color3;
	}

	.thumb {
		width: 50px;
		height: 50px;
		margin: 0 12px 0 31px;
		border-radius: 50%;
		position: relative;
		opacity: 0.8;
		background-size: cover;
	}

	.info {
		max-width: 600px;

		.title {
			font-size: 15px;
  	  color: #999;
		}

		.artist {
			font-size: 13px;
			text-transform: uppercase;
			color: #bbb;
		}
	}
}

.list_item:hover {
	background-color: rgba($color6,0.03);
}

.list_item:active {
	transform: scale(0.98);
}

// List Replace with JSON later
.list {
	.list_item:nth-child(1) {
		.thumb{
			background-image: url(../cds/expresiones100.jpg);
		}
	}

	.list_item:nth-child(2) {
		.thumb{
			background-image: url(../cds/expresiones100.jpg);
		}
	}
	.list_item:nth-child(3) {
		.thumb{
			background-image: url(../cds/expresiones100.jpg);
		}
	}
	.list_item:nth-child(4) {
		.thumb{
			background-image: url(../cds/expresiones100.jpg);
		}
	}
	.list_item:nth-child(5) {
		.thumb{
			background-image: url(../cds/expresiones100.jpg);
		}
	}
	.list_item:nth-child(6) {
		.thumb{
			background-image: url(../cds/expresiones100.jpg);
		}
	}
	.list_item:nth-child(7) {
		.thumb{
			background-image: url(../cds/cantata100.jpg);
		}
	}
	.list_item:nth-child(8) {
		.thumb{
			background-image: url(../cds/cantata100.jpg);
		}
	}
}

.selected {
	background-color: rgba($color2,0.19);

	&:hover {
		background-color: rgba($color6,0.3);
	}

	.info {
		.title {
			color: #252120;
			font-size: 15px;
		}
		.artist {
			color: rgba(37,33,32,0.7);
			color: rgba($color1,0.7);
			font-size: 13px;
   	 text-transform: uppercase;
		}
	}
}

// ===== Curator Page =====
.active {
	display: block;
	opacity: 1;
}

#curator {
	width: 100%;
	height: 100%;
	position: fixed;
	text-align: center;
	color: $color-black;
	display: none;

	.curator_title_wrapper  {
		position: fixed;
		margin-top: 17.55vh;
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;

		span {
			font-size: 2.16vh;
		}

		.curator_title {
			font-size: 7.425vh;
		}

		.curator_line {
			width: 30px;
			height: 2px;
			border-radius: 2px;
			margin: 0 30px;
			background-color: $color-black;
		}
	}
}

// ===== Curator List =====
.curator_list {
	position: absolute;
	text-align: center;
	font-size: 14px;
	width: 100vw;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;
	// overflow: auto;
	opacity: 0;
}

.connect_btn {
	border-radius: 50%;
	width: 18vh;
	height: 18vh;
	background-image: linear-gradient(280deg, $color4 0%, $color5 100%);
	// background-image: linear-gradient(280deg, rgb(47, 42, 41) 0%, rgb(47, 42, 41) 100%);
	color: #f1dfdd;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;

	.connect_btn_text {
		z-index: 9;
	}
}

.connect_btn:before {
	position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: opacity 0.5s ease-out;
  opacity: 0;
	background-image: linear-gradient(225deg, rgb(255, 103, 0) 0%, rgb(255, 45, 240) 100%);
	transition: 0.5s;
}

.connect_btn:hover:before {
	opacity: 1;
}



.curator_list_content_desc {
	position: relative;
	pointer-events: none;
	margin: 0 20px;
	margin-bottom: 60px;
}

.curator_list_content {
	padding: 0 50px;
	white-space: nowrap;
	text-align: left;
	// width: 1600px;
	// width: 100%;
	position: absolute;
	top: 50%;
	margin-top: -6.6666666667vh;
	display: flex;
	align-items: center;

	.item {
		cursor: pointer;
		// width: 18vh;
		height: 25vh;
		margin: 0 20px;
	}

	.item:active {
		transform: scale(0.95);
	}

	.info {
		opacity: 0;
	}

	.info .name, .info .desc {
		font-size: 13px;
    color: #f1dfdd;
    clear: both;
    position: relative;
    padding: 0 3px 1px 3px;
    background-color: $color0;
		display: inline-block;
		float: left;
		clear: both;
		border-radius: 3px 3px 0px 0px;
		max-width: 150px!important;
		// overflow: hidden;
		width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; // This is where the magic happens

	}

	.thumb {
		border-radius: 50%;
    width: 18vh;
    height: 18vh;
    background-size: cover;
    margin-bottom: 20px;
		transition: 0.5s;
	}
}

.curator_list_content {
	.item:nth-child(1) .thumb {
		background-image: url(../cds/cantata250.jpg);
	}
	.item:nth-child(2) .thumb {
		background-image: url(../cds/coleccion250.jpg);
	}
	.item:nth-child(3) .thumb {
		background-image: url(../cds/suitePatagonica250.jpg);
	}
	.item:nth-child(4) .thumb {
		background-image: url(../cds/tierraDelViento250.jpg);

	}
	.item:nth-child(5) .thumb {
		background-image: url(../cds/expresiones250.jpg);

	}
	.item:nth-child(6) .thumb {
		background-image: url(../cds/fragmentosDeUnaObraPsicomatica250.jpg);

	}
	.item:nth-child(7) .thumb {
		background-image: url(../cds/teVasMilonga250.jpg);

	}
	.item:nth-child(8) .thumb {
		background-image: url(../cds/conexioneintento250.jpg);

	}
	.item:nth-child(9) .thumb {
		background-image: url(../cds/fragmentosDeUnaObraPsicomatica250.jpg);

	}
	.item:nth-child(10) .thumb {
		background-image: url(../cds/teVasMilonga250.jpg);

	}
}

.shadow {
	box-shadow: 0 30px 60px 0 rgba(0,0,0,0.4);
}



.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
		}
