code {

  background-color: $color0;
background-color: red;
width:100vw;
// color: green;
color: $color6;
// padding: 1em;

display: block; /* may help stop any text wrapping and display it inline. */
display: inline; /* same as above */
// white-space: nowrap;/* ensure no wrapping */
overflow: hidden; /* if for some reason it escapes the visible area don't display anything. */

  font-size: 13px!important;
  padding: 0;
  &:before {
    display: block;
    width: calc(100%);
    margin-left: -3px;
    margin-top: -3px;
    padding: 3px;
    text-transform: uppercase;
    content: attr(data-lang);
  }


}
