
// html {
//   // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
// 	font-size: 16px;
// }
// body {
//   color: #333;
//   height: 100%;
//   line-height: 1.5em;
//   margin-bottom: 1.5em;
// }
main , article.post-content{
	margin: 0 auto;
	width: 66.66667%;

}

.post a , .post-content a{
	color: $color1;
}

@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 600px) {

}
@media only screen and (max-width: 480px) {
	main , article.post-content{
		width: 88.66667%;

	}
}

// header {
//   background-color: $color5;
//   background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.25) 100%);
//   // box-sizing: border-box;
//   // color: $color2;
//   // margin-bottom: 1.5rem;
//   // overflow: hidden;
//   // padding: 3rem 25%;
//   // pointer-events: none;
//   // position: relative;
//   // left: -25%;
//   // width: 150%;
//   transition: all .25s ease-in-out;
//
//   &:before {
//     background-image:
//       linear-gradient(115deg, rgba(255,255,255,.025) 0%, rgba(255,255,255,.05) 50%, rgba(255,255,255,0) 50%),
//       linear-gradient(to left, #005952 0%, #005E20 100%);
//     content: "";
//     opacity: 0;
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     transition: all .25s ease-in-out;
//   }
//
//   &:hover:before {
//     opacity: 1;
//   }
//
//   & > * {
//     position: relative;
//   }
//
//   & h1 {
//     font-weight: bold;
//     font-size: 3em;
//     line-height: 1em;
//     margin: 0 0 .5rem 0;
//     text-align: center;
//   }
//   & .byline {
//     color: rgba($color2,.75);
//     display: block;
//     font-size: .8em;
//     letter-spacing: 1px;
//     text-align: center;
//     text-transform: uppercase;
//   }
// }
// p {
//   margin-bottom: 1.5rem;
// }
// .message {
//   background-color: $color6;
//   border-left: .75rem solid $color5;
//   padding: .75rem 1.5rem;
//   font-size: .85rem;
//
//   & a:hover {
//     border-color: rgba(0,0,0,.5);
//     color: rgba(0,0,0,.5);
//   }
//
//   &.note {
//     background-color: #7BCDC8;
//     border-color: #00A99D;
//   }
// }
// hr {
//   border: none;
//   border-top: .125rem solid #ddd;
//   margin-bottom: 1.375rem;
// }
// a {
//   border-bottom: 2px solid #333;
//   color: #333;
//   text-decoration: none;
//   transition: all .125s ease-in-out;
//
//   &:hover {
//     border-bottom-color: #4a7298;
//     color: #4a7298;
//   }
// }
// ul {
//   margin-top: -.75rem;
// }
// code {
//   background-color: rgba(0,0,0,.125);
//   border: 1px solid rgba(0,0,0,.125);
//   border-radius: 4px;
//   display: inline-block;
//   margin: 0 .125em;
//   padding: 0 .25em;
// }

/* Cards */
.cards {
  border-radius: .25rem;
	display: flex;
	flex-flow: row nowrap;
  margin-bottom: 1.5rem;
  overflow: hidden;

  & > a {
	  box-sizing: border-box;
	  border: none;
	  flex: 1 100%;
	  padding: 1.5rem;
	  text-align: center;

    & svg {
      display: block;
      margin: 0 auto .75rem;
      width: 5.25rem;
		  height: 5.25rem;
      transition: all .125s ease-in-out;

      & path { transition: fill .125s ease-in-out }
    }

    &:first-child {
      background-color: #333;
		  color: #eee;
      & svg {
        background-color: #eee;
        & path { fill: #333; }
      }
      &:hover {
        background-color: #222;
        color: rgba(87, 173, 104, 1);
        & svg {
          background-color: rgba(87, 173, 104, 1);
          & path { fill: #222; }
        }
      }
    }

    &:last-child {
      background-color: $color1;
		  color: #555;
      & svg path { fill:  $color2; }
      &:hover { background-color:  $color1; }
    }
  }
}

/* Fluidbox styling starts here */
a[data-fluidbox] {
  background-color:  $color2;
  border: none;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  margin-bottom: 1.5rem;

  &.fluidbox-opened {
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
  }

  & img {
    display: block;
    margin: 0 auto;
    opacity: 0;
    max-width: 100%;
    transition: all .25s ease-in-out;
  }
}

a[class^='float'] {
  margin: 1rem;
  margin-top: 0;
  width: 33.33333%;

  &.float-left {
    float: left;
    margin-left: 0;
  }
  &.float-right {
    float: right;
    margin-right: 0;
  }
}

#fluidbox-overlay {
  background-color: rgba($color2,.85);
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
}
.fluidbox-wrap {
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  z-index: 400;
  transition: all .25s ease-in-out;

  .fluidbox-opened & {
    z-index: 600;
  }
}
.fluidbox-ghost {
  background-size: cover;
  background-position: center center;
  position: absolute;
  transition: all .25s ease-in-out;
}

.gallery {
  display: flex;
  -webkit-flex-flow: row wrap; /* Fix for iOS */
  flex-flow: row wrap;
  justify-content: space-between;

  & a {
    margin-bottom: 1rem;

    &.col-2 { width: 49%; }
    &.col-3 { width: 32%; }
  }
}

/* Media queries, unrelated to functionality of Fluidbox */
@media only screen and (max-width: 768px) {
  .cards {
    flex-flow: row wrap;
  }
  a[class^='float'] {
     width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .gallery a,
  .gallery a[class^='col'] {
    margin-bottom: .5rem;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
  .message {
    border: 0;
    border-top: .75rem solid #F26C4F;
  }
  a[class^='float'] {
    float: none;
    margin: 0 0 1rem 0;
    width: 100%;
  }
}
