//
//
// div.jp-single-player,
// div.jp-playlist-player {
//
// 	/* Edit the font-size to counteract inherited font sizing.
// 	 * Eg. 1.25em = 1 / 0.8em
// 	 */
// 	font-size:1em; /* No parent CSS that can effect the size in these demos */
// 	line-height:1.6;
// 	color: #666;
// 	margin-top:10px;
// }
// div.jp-playlist {
// 	width:215px;
// 	height:435px;
// 	overflow-y:auto;
// 	overflow-x:hidden;
// }
// div.jp-playlist ul{
// 	list-style-type:none;
// 	margin:0;
// 	padding:0;
// 	border-top:none;
// 	width:202px;
// 	font-size:10px;
// }
// div.jp-playlist-player div.jp-playlist li {
// 	padding:3px;
// 	margin:3px 6px;
// 	background:transparent url(../images/bg.png) repeat top left;
// }
// div.jp-playlist-player div.jp-playlist li span{
// 	width:16px;
// 	height:16px;
// 	float:right;
// 	cursor: pointer;
// 	background: url(icons/remove.png) no-repeat center center;
// }
// div.jp-playlist-player div.jp-playlist li.jplayer_playlist_current {
//
// }
// div.jp-playlist-player div.jp-playlist a {
// 	color: #ccc;
// 	text-shadow:1px 1px 1px #000;
// 	text-transform:uppercase;
// 	text-decoration: none;
// }
// div.jp-playlist-player div.jp-playlist a:hover {
// 	color:#fff;
// }
// div.jp-playlist-player div.jp-playlist a.jplayer_playlist_current {
// 	color:#c4000c;
// }
