@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 40px 0;
  }
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 40px 0;
  }
}
@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 40px 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 40px 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 40px 0;
  }
}
@keyframes entrada_anim {
  0% {
    animation-delay: 2s;
    opacity: 0;
    transform: scale(0.7);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

body {
  background-color: $color0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Audiowide', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Audiowide', Arial, sans-serif;
  font-weight: 300;
  color: $color1;
}
p {
  font-family: 'Audiowide', Arial, sans-serif;
  font-weight: 300;
  color: $color6;
}

h2 {
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: uppercase;
}

.barba-container {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

.scrollable {
  overflow: scroll;
  height: 99vh;
  // height: 76%;
}

i#stateicon {
  display: inline-block;
  padding: 20px;
  border-radius: 50%;
  border: solid $color1;
}

pre {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}


.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container embed,
.video-container iframe,
.video-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#player:after {}

#player {
  // font-family: 'Voltaire', Arial, Helvetica, sans-serif;
  font-size: 0;
  position: fixed;
  width: 100%;
  height: 11vh;
  bottom: -12vh;
}

#player a {
  text-decoration: none;
}

#visualization {
  width: 100%;
  // height: 290px;
  height: 10vh;

  border-top: solid $color1;
}


#overlay {
  // width: 100%;
  // /*width:590px;*/
  // height: 290px;
  // background: url("../image/overlay.png");
  // position: absolute;
  // top: 0;
  // left: 0;
}

#info {
  position: absolute;
  bottom: 50px;
  // bottom: 4vh;

  left: 10px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

  @media screen and (max-width: 480px) {
bottom: 4vh;
  }


}

#info h1 {
  font-size: 15px;
  line-height: 15px;
  color: $color6;
  display: inline;
  margin-right: 6px;
}

#info h2 {
  font-size: 11px;
  line-height: 11px;
  color: $color1;
  display: inline;
}
/*************************************************************************/
@media screen and (max-device-width: 480px) {
  #info h1 {
    font-size: 11px;

  }

  #info h2 {

  }

  .info {
    font-size: 1.1em;
  }
}
/*fin media query*/
/*************************************************************************/
#controls {
  padding: 0 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  display: table;
  bottom: 10px;
  width: 100%;
  height: 35px;
  color: $color6;
  border-spacing: 0;
}

td,tr {
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.first {
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}

.last {
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  margin-right: 0;
}

.static {
  margin-bottom: 0;
  margin-top: 6px;
  height: 23px;
  line-height: 23px;
  background-color: rgba($color0,0.6);
  text-align: center;
  position: relative;
  bottom: 0;
  margin-right: 1px;
  font-size: 0;
  padding: 0;
}

.static span {
  font-size: 10px;
}
/*************************************************************************/

/** group 2*/

/** group 2*/

#timeLabel {
  height:0;
  top:-6px;
  margin-top:-5px;
  /*margin-top:6px;*/
  text-align:center;
  width:50px;
  line-height:15px;
  padding-top:0;
  color:$color6;
  font-size:10px;
  overflow:hidden;
  background-color:rgba($color4, 0.8);
  // background-color:rgba(238, 178, 17, 0.6);
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  position:absolute;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.rangeHorizontal {
  display:block;
  height:10px;
  position:relative;
  top:6px;
  padding:0;
  background-color: rgba($color1, 0.5);
  border: 1px solid rgba($color1, 0.5);
  cursor:pointer;
}

#seekFill {
  height:10px;
  background-color: inherit lighten($color1,35%);
  border:1px solid darken($color1,35%);
  position:absolute;
  top:6px;
  cursor:pointer;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(lighten($color1,35%), 0.3);
  box-shadow: 0px 0px 5px 1px rgba(lighten($color1,35%), 0.3);
}


#seekDrag {
  height:14px;
  width:4px;
  background-color:$color5;
  position:absolute;
  top:4px;
  margin-left:2px;
  border:1px solid $color0;
  cursor:pointer;
  opacity:0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor:pointer;
}
#seekHolder:hover #seekDrag {
  opacity:1;
}
#seekHolder:hover #timeLabel {
  height:25px; /*alto de label de tiempo*/
  top:-26px;
  padding-top:5px;
  /*position:absolute;*/
  /*display: block;*/
}


/*************************************************************************/
/*Play button*/

.group0 {
  display:table-cell;
  position:relative;
  vertical-align:top;
}
.group0:first-child:after {
  display:none;
}
.group0:last-child:after {
  -webkit-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
}
.group0:last-child a:last-child {
  margin-right:0;
}
.group0:first-child > * {
  -webkit-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}
#play, #r1 {
  width:50px;
}

a.player {
  font-size: 15px;
  display: inline-block;
  color: $color1;
  margin-bottom: 0;
  margin-top: 6px;
  height: 23px;
  line-height: 23px;
  position: relative;
  background-color: rgba($color0,0.6);
  text-align: center;
  margin-right: 1px;
  padding: 0;
}

a.player:hover {
  color: $color0;
  background-color: $color1;
}

a.big {
  height: 35px;
  line-height: 35px;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}

/*************************************************************************/
/*time and duration info */
.group2 {
  position:relative;
  vertical-align:top;
}
.group2:after {
  content:" ";
  display:block;
  height:5px;
  background-color:rgba($color0,0.6);
  margin-top:1px;
  margin-right:1px;
}

#time {
  font-size:10px;
  width:90px;
}
#currentTime {
  border-right:2px solid $color5;
  padding-right:4px;
  color:darken($color1,15%);

}
#totalTime {
  color:darken($color1,15%);
  padding-left:4px;
}

/*dirty fix para el problema de que el timelabel estaba corrido*/



/*************************************************************************/


/*************************************************************************/
/* Barra de rango*/
.group {
  display:table-cell;
  position:relative;
  vertical-align:top;
}
.group:after {/*borde  inferior */
  content:" ";
  display:block;
  height:5px;
  background-color:rgba($color0,0.6);
  margin-top:1px;
  margin-right:1px;
}
.group:first-child:after {
  /*display:none;*/
}
.group:last-child:after {
  -webkit-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
}
.group:last-child a:last-child {
  margin-right:0;
}
.group:first-child > * {
  -webkit-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}
#seekHolder {
  width:auto;
  position:relative;
}
#seek {
  width:100%;;
}


.stripes {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba($color0, 0.1)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba($color0, 0.1)), color-stop(0.75, rgba($color0, 0.1)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba($color0, 0.1) 25%, transparent 25%, transparent 50%, rgba($color0, 0.1) 50%, rgba($color0, 0.1) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba($color0, 0.1) 25%, transparent 25%, transparent 50%, rgba($color0, 0.1) 50%, rgba($color0, 0.1) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba($color0, 0.1) 25%, transparent 25%, transparent 50%, rgba($color0, 0.1) 50%, rgba($color0, 0.1) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba($color0, 0.1) 25%, transparent 25%, transparent 50%, rgba($color0, 0.1) 50%, rgba($color0, 0.1) 75%, transparent 75%, transparent);
  -webkit-animation: progress-bar-stripes 3s linear infinite;
     -moz-animation: progress-bar-stripes 3s linear infinite;
      -ms-animation: progress-bar-stripes 3s linear infinite;
       -o-animation: progress-bar-stripes 3s linear infinite;
          animation: progress-bar-stripes 3s linear infinite;
  -webkit-background-size: 40px 40px;
     -moz-background-size: 40px 40px;
       -o-background-size: 40px 40px;
          background-size: 40px 40px;
}
/*************************************************************************/
/* volumen y loop*/
#right {
  width:82px;
}
#mute, #loop {
  width:40px;
}
.group3 {
  display:table-cell;
  vertical-align:top;
}

.group3:last-child:after {
  -webkit-border-radius: 0 0 5px 0; /*borde redondeado del ultimo*/
  border-radius: 0 0 5px 0;
}

.group3:after {/*este de la el borde de decoracion inferior*/
  content:"";
  display:block;
  height:5px;
  background-color:rgba($color0,0.6);
  margin-top:1px;
  margin-right:1px;
}

/* volumen ************************/
.button {
  font-size:15px;
  /*display:block;*/
  float:left;
  color:$color1;
  margin-bottom:1px;
  margin-top:6px;
  height:23px;
  line-height:23px;
  background-color:rgba($color0,0.6);
  text-align:center;
  margin-right:1px;
}
.button:hover{
  background-color: $color1;
}

label.etiqueta {
  display:block;
  position:absolute;
  top:-6px;
  left:0;
  right:0;
  height:0;
  line-height:20px;
  font-size:10px;
  color:$color6;
  width:100%;
  padding-top:5px;
  padding-bottom:0;
  background-color:rgba($color0,0.6);
  overflow:hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

label#volumen{
  background-color:rgba($color0,0.6);
  width: 40px;
  /*right: 30px*/
}
#volumen{
  position: absolute;
  top:0;
  /*left:4em;*/
  right:52px;/*esto parece ajustar perfectamente el recuadro*/
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

height: 5px;


/*muestra el volumen*/
/*height:101px;
top:-97px;*/
}

 #volumen:hover{
/*  height: 82px;
top: 80px;
*/
}
.rangeVertical {
  margin:0 5px;
  background-color: rgba($color1, 0.5);
  border: 1px solid rgba($color1, 0.5);
  cursor:pointer;
  /*height:70px;*/
}
.rangeVertical:hover {
  margin:0 5px;
  background-color: rgba($color1, 0.5);
  border: 1px solid rgba($color1, 0.5);
  cursor:pointer;
  height:70px;
 bottom: 20px;
}
#volumeFill {
  margin:0 5px;
  position:absolute;
  bottom:-93px;
  left:0;
  right:0;
  background-color: darken($color1,15%);
  border:1px solid darken($color1,35%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 0px 3px 1px rgba($color5, 0.3);
  box-shadow: 0px 0px 3px 1px rgba($color5, 0.3);
}
#volumeOverlay {/*aporta decoracion de stripe y responsividad al mouse*/
  margin:0 5px;
  height:70px;
  position:absolute;
  bottom:-93px;
  left:0;
  right:0;
  border:1px solid rgba($color0,0);
  background: url(../ui/volume.gif);
  background-position:center center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor:pointer;
}

#volumeIcon{}

#mute:hover #volumeLabel {
  /*height:96px;
  top:-96px;
*/
}
#mute:hover #volumeFill, #mute:hover #volumeOverlay {
  bottom:7px;
}
#volumeFill {
  height:70px
}
#volumeLabel {
  font-size:0;
}
#volumeLabel span {
  font-size:9px;
}

/* loop ************************/

label.labelloop{
    display:block;
  position:absolute;
  top:-6px;
  left:0;
  right:0;
  height:0;
  line-height:20px;
  font-size:10px;
  color:#color6;
  width:100%;
  padding-top:5px;
  padding-bottom:0;
  background-color:rgba($color0,0.6);
  overflow:hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover label.labelloop{
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  margin-top:-20px;/*este funcion como ancla,evita que el bloque se vaya para arribla*/
  padding-bottom:5px;
  height:25px;
  /*width: 40px;*/
  /*position: relative;*/
}
 label.labelloop:hover {
  width: 40px;
  position: relative;
}

/* playerbottom ************************/
#playerbottom{
  position: fixed;
  bottom: 0;
  height: 3em;
  background-color: $color1;
}


/******************************************************/
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
  background: $color0;
  color: $color6;
  // font-family: 'PT Sans Narrow', Arial, sans-serif;
  // text-transform: uppercase;
}

a {
  color: $color6;
  text-decoration: none;
}

img.ac_bgimage {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.8;
  display: none;
}

.ac_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent url("../ui/pattern.png") repeat top left;
}

.ac_loading {
  position: fixed;
  top: 10px;
  right: 10px;
  background: $color0 url("../ui/loader.gif") no-repeat center center;
  width: 50px;
  height: 50px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px 10px 10px 10px;
  z-index: 999;
  opacity: 0.7;
  display: none;
}

.ac_content {
  position: fixed;
  height: 90px;
  width: 100%;
  top: 5vh;
  left: 0;
  // margin-top: -65px;
}

// .ac_content h1 {
#ac_contenth1 {
  background-color: rgba($color1,0.5);
  display: block;
  float: left;
  width: 9em;
  height: 50px;
  padding: 20px;
  font-size: 36px;
  font-weight: bold;
  line-height: 20px;
  margin-right: 1px;
  -webkit-animation: entrada_anim 1s ease-in backwards;
  -moz-animation: entrada_anim 1s ease-in backwards;
  -ms-animation: entrada_anim 1s ease-in backwards;
  animation: entrada_anim 1s ease-in backwards;
}
@media screen and (max-device-width: 480px) {
  // .ac_content h1 {
  #ac_contenth1{
    width: 6em;
    font-size: 26px
  }
}
/*fin media query*/
@keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0 0 40px $color6;
    transform: scale(1.3);
  }

  20%,
  75% {
    opacity: 1;
    text-shadow: 0 0 1px  $color6;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    text-shadow: 0 0 50px  $color6;
    transform: scale(0);
  }
}
@keyframes entrada_anim {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/******************************/

/*******************************/
.ac_content h1 span {
  display: block;
  font-weight: normal;
  font-size: 14px;
}
h1{
  font-size: 26px;
  font-weight: bold;
  line-height: 20px;
  margin-right: 1px;
}


.ac_menu {
  float: right;
  position: relative;
  height: 90px;
  width: 100vw;
  /*IMPOTANTE, este valor es controloado por javascript*/
}

.ac_menu > ul {
  float: right;
  margin-right: 2em;



}



@media screen and (max-width: 675px){

  .ac_menu > ul{
      width:50vw;
  margin-right: 4em;
      }

      }/*fin media query*/
.ac_menu > ul > li {
  float: left;
  position: relative;
  height: 90px;
  overflow: hidden;
}
.navlinks {
  margin-top: 60px;
  opacity: 0;
  display: block;
  height: 90px;
  padding: 0 10px;
  text-align: center;
  line-height: 90px;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 1px $color0;
  text-transform: uppercase;

}


  .ac_subitem2{z-index: 9999!important;}

.ac_subitem2, .ac_subitem {
  width: 100vw; /* animate to 90vw */
  height: 0;
  // top: 10vh;
  top:100%;
    right: 0;
  margin-top: 0;
  position: fixed;
  z-index: 0;
  overflow: hidden;
  background-color: rgba($color0,0.5);
  border: 5px solid rgba($color1,0.5);

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
}
.ac_subitem2 p{
  padding: 2em;
}

.ac_subitem2 img{
  float: right;
    padding: 2em;
    width: 240px;
}

.ac_subitem2 h2,.ac_subitem h2 {
  font-size: 22px;
  font-weight: bold;
  color: $color1;
  padding: 40px 0 0 40px;
  text-shadow: 0 0 1px $color0;
  padding-bottom: 2em;
  border-bottom: 1px dotted $color1;
}


.ac_subitem2 ul, .ac_subitem ul{
  padding: 0 40px;/* importante para celu*/
  height: 100%;
  text-transform: none;
font-size: 1em;
}

.ac_subitem2 ul li, .ac_subitem ul li {
  margin: 10px 0;
}

// .ac_subitem ul li:first-child {
.dottedli  ul {
  font-size: 14px;
  text-transform: none;
  border-bottom: 1px dotted $color5;
  padding-bottom: 15px;
  margin-bottom: 15px;
}







/*********************************************************************************************************/
/*@media screen and (min-width: 676px){*/
      /*@media screen and (max-device-width: 675px){*/
      @media screen and (max-width: 675px){

  .ac_menu > ul{
      width:40vw;
  margin-right: 0;
      }
      .navlinks {
        font-size: 14px;
        height: 40px;
        line-height: 40px;

      }

      .ac_subitem2 p{
        padding: 0em;
      }
  }/*fin media query*/

  @media screen and (max-width: 480px){
  .ac_menu >ul{
          margin-right: 0;
        width: 100vw;
        padding: 6vw;
        // background: rebeccapurple;
      }
  }


  /*******************************************/
span.ac_close2 ,span.ac_close {
  cursor: pointer;
  background: transparent url("../ui/cross.png") no-repeat center center;
  opacity: 0.4;
  width: 26px;
  height: 26px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  // text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}

span.ac_close:hover {
  opacity: 1.0;
}

.ac_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 13px;
  background: $color0;
  opacity: 0.9;
  height: 20px;
  padding-bottom: 5px;
}

.ac_footer a {
  padding: 5px 10px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px $color0;
  color: $color4;
  float: right;
}

.footer a:hover {
  color: $color6;
}

.ac_footer a span {
  font-weight: bold;
}

.ac_footer a.ac_left {
  float: left;
}


//
.nav >h1{
  text-shadow: 1px 1px 1px $color1;
width: 100%;
// background: red;
text-align: center;
height: 2em;
font-size: 2em;
line-height: 2em;

}
