---
---
@charset "utf-8";


//colors pallete
$color0: #000;
$color1: #336677;
// $color1: red;

// $color1: #ffcc33;
$color2: $color1;
// $color3: #2e435a;
$color3: $color1;
$color4: $color3;
$color5: #6D6D6D;
$color6: #fff;
$break-small: 480px;
$break-large: 1200px;



@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
// @import url(https://use.fontawesome.com/47d67ad576.js);

// @import "font-awesome";
@import "reset";
@import "code";
@import "style";
@import "spinner2";
@import "content";
@import "cds";
// @import "jplayer";
// @import "flickity";
article {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

img {
  max-width: 100%;
}

///
.blognavbar{
  @media screen and (max-width: 480px) {
    position: relative;
    display: grid;
place-items: start center;

    // display: grid;
    // grid-template-columns: 65% auto;


    display:grid;
    list-style-type:none;
    margin:0;padding:0;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);


  }
}



#tituloPrincipal{
display: block;
max-width: 50vw;
overflow: hidden;
text-overflow: ellipsis;
position: fixed;
left: 2.2vw;
line-height: 90px;
padding: 0 10px;

        @media screen and (max-width: 480px) {
        position: fixed;
        bottom: 50%;
        font-size: 2em;
        line-height: 1.5em;
        // background: red;
        width: 100vw !important;
        max-width: 100vw;
        padding: 0;
        left: 0 !important;
        text-align: center;
        }

}
a.glow:hover{
  color: red!important;
text-shadow:0 0 10px $color1, 0 0 20px $color1, 0 0 30px $color1, 0 0 40px $color1, 0 0 50px $color1, 0 0 60px $color1, 0 0 70px $color1;
}
.ac_subitem h3{
  text-align: left;
padding: 2em;
white-space: nowrap;
white-space: pre-line;
border-bottom: 1px dotted $color5;
}

.left {
  float: left;
}
.right {
  float: right;
}
.center{
  // display: table; margin: 0 auto;
}

#info >  h2{
  overflow: hidden; /* to hide anything that doesn't fit in the containing element. */
      white-space: nowrap; /* to make sure the line doesn't break when it is longer than the containing div. */
      text-overflow: ellipsis; /* to do what you want. */

        @media screen and (max-width: 480px) {
display: none;
        }

}

@media screen and (max-width: $break-small) {
#info  h2{
display: none;
}
}

.navlist , .prevlink, .nextlink{
  right: 0
}
.navlist h3, .prevlink h3, .nextlink h3{
float: right!important;
}
.navlist{
  // position: absolute;
  top: 3.5em;

}


.prevlink{
  // position: absolute;
top: 9em;
text-overflow: ellipsis;
width: 3.3vw;
}
.nextlink{
  // position: absolute;
top: 17.5em;
text-overflow: ellipsis;
width: 3.3vw;
}


.navlist , .prevlink , .nextlink {
  position: absolute;
  @media screen and (max-width: 480px) {
    position: relative;
    display:grid;
  list-style-type:none;
  margin:0;padding:0;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);

  }
}

.nextlink h3{
  // float: left!important;

}

// .scrollup {
//     width: 40px;
//     height: 40px;
//     position: fixed;
//     bottom: 50px;
//     right: 100px;
//     display: none;
//     text-indent: -9999px;
//     background: url('icon_top.png') no-repeat;
//     background-color: red;
// }

#ac_background {
  filter: blur(0px);

  transition: all 1.35s ease-in-out;
}
#ac_background.off {
  // -moz-filter: blur(5px);
  // -webkit-filter: blur(5px);
  filter: blur(5px);
}
