
<elec class="wrapper">
  <!-- Wave bg-->
  <div class="wave-container"></div>
  <div class="line"></div>
  <div class="text-wrap">
    <div class="text"><span>play</span>
      <div class="main-btn_wrapper"><i class="main-btn fa fa-play" aria-hidden="true"></i></div>
    </div>
  </div>
  <div class="header">
    <div class="burger-wrapper">
      <div class="burger"></div>
    </div>
    <div class="logo-text">Listeners Playlist</div>
    <div class="back_btn">
      <div class="circle"></div>
      <div class="text">Back</div>
    </div>
  </div>
  <div class="nav">
    <ul class="nav_main">
      <li> <a class="nav_link">Home	</a></li>
      <li> <a class="nav_link">Listeners</a></li>
      <li> <a class="nav_link">Compilations</a></li>
      <li> <a class="nav_link">LP. Mix</a></li>
    </ul>
    <div class="nav_divider"></div>
    <ul class="nav_sub">
      <li><a class="nav_link" href="">About	</a></li>
      <li><a class="nav_link" href="">Contact	</a></li>
    </ul>
  </div>
  <div class="mini-player">
    <div class="track_info_wrapper">
      <div class="track_info">
        <div class="thumb"></div>
        <div class="info">
          <div class="title">Friday Comes</div>
          <div class="artist">Early</div>
        </div>
      </div>
    </div>
    <div class="mini-player_btn_wrapper"><i class="btn-prev fa fa-step-backward" aria-hidden="true"></i>
      <div class="btn-switch"><i class="btn-play fa fa-play" aria-hidden="true"></i><i class="btn-pause fa fa-pause" aria-hidden="true"></i></div><i class="btn-next fa fa-step-forward" aria-hidden="true"></i><i class="btn-open-player fa fa-list" aria-hidden="true"></i>
    </div>
  </div>
  <div class="dim"></div>
  <div class="player" id="player">
    <div class="playback_wrapper">
      <div class="playback_blur"></div>
      <div class="playback_thumb"></div>
      <div class="playback_info">
        <div class="title">Friday Comes</div>
        <div class="artist">Early</div>
      </div>
      <div class="playback_btn_wrapper"><i class="btn-prev fa fa-step-backward" aria-hidden="true"></i>
        <div class="btn-switch"><i class="btn-play fa fa-play" aria-hidden="true"></i><i class="btn-pause fa fa-pause" aria-hidden="true"></i></div><i class="btn-next fa fa-step-forward" aria-hidden="true"></i>
      </div>
      <div class="playback_timeline">
        <div class="playback_timeline_start-time">00:31</div>
        <div class="playback_timeline_slider">
          <div class="slider_base"></div>
          <div class="slider_progress"></div>
          <div class="slider_handle"></div>
        </div>
        <div class="playback_timeline_end-time">03:11</div>
      </div>
    </div>
    <div class="list_wrapper">
      <ul class="list"> 
        <li class="list_item selected"> 
          <div class="thumb"> </div>
          <div class="info"> 
            <div class="title">Friday Comes</div>
            <div class="artist">Early</div>
          </div>
        </li>
        <li class="list_item"> 
          <div class="thumb"> </div>
          <div class="info"> 
            <div class="title">Friday Comes</div>
            <div class="artist">Early</div>
          </div>
        </li>
        <li class="list_item"> 
          <div class="thumb"> </div>
          <div class="info"> 
            <div class="title">Friday Comes</div>
            <div class="artist">Early</div>
          </div>
        </li>
        <li class="list_item"> 
          <div class="thumb"> </div>
          <div class="info"> 
            <div class="title">Friday Comes</div>
            <div class="artist">Early</div>
          </div>
        </li>
        <li class="list_item"> 
          <div class="thumb"> </div>
          <div class="info"> 
            <div class="title">Friday Comes</div>
            <div class="artist">Early</div>
          </div>
        </li>
        <li class="list_item"> 
          <div class="thumb"> </div>
          <div class="info"> 
            <div class="title">Friday Comes</div>
            <div class="artist">Early</div>
          </div>
        </li>
        <li class="list_item"> 
          <div class="thumb"> </div>
          <div class="info"> 
            <div class="title">Friday Comes</div>
            <div class="artist">Early</div>
          </div>
        </li>
        <li class="list_item"> 
          <div class="thumb"> </div>
          <div class="info"> 
            <div class="title">Friday Comes</div>
            <div class="artist">Early</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="page" id="curator">
    <div class="curator_title_wrapper"><span>LP</span>
      <div class="curator_line"></div>
      <div class="curator_title">Listeners</div>
      <div class="curator_line"></div><span>14</span>
    </div>
    <div class="curator_list">
      <div class="curator_list_content">
        <div class="connect_btn_wrapper item">
          <div class="connect_btn">
            <div class="connect_btn_text">Connect <br/>SoundCloud</div>
          </div>
        </div>
        <div class="curator_list_content_desc">Or Select <br/>a Listener of <br/>L.P.			</div>
        <div class="item">
          <div class="thumb"></div>
          <div class="info">
            <div class="name">Fantasy</div>
            <div class="desc">Sam</div>
          </div>
        </div>
        <div class="item">
          <div class="thumb"></div>
          <div class="info">
            <div class="name">Fantasy</div>
            <div class="desc">Sam</div>
          </div>
        </div>
        <div class="item">
          <div class="thumb"></div>
          <div class="info">
            <div class="name">Fantasy</div>
            <div class="desc">Sam</div>
          </div>
        </div>
        <div class="item">
          <div class="thumb"></div>
          <div class="info">
            <div class="name">Fantasy</div>
            <div class="desc">Sam</div>
          </div>
        </div>
        <div class="item">
          <div class="thumb"></div>
          <div class="info">
            <div class="name">Fantasy</div>
            <div class="desc">Sam</div>
          </div>
        </div>
        <div class="item">
          <div class="thumb"></div>
          <div class="info">
            <div class="name">Fantasy</div>
            <div class="desc">Sam</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</elec>
