{% include head.html%}
<div class="barba-container" data-namespace="page">
 <!-- COMIENZO BARBA JS -->
 <article class="post-content ">

 {{ content }}


</article> <!-- FIN BARBA JS -->
</div>
{% include foot.html%}
