{% include head.html%}
<div class="barba-container" data-namespace="post">
  <!-- COMIENZO BARBA JS -->


  <pre>
  	<article class="post-content ">
      <h2 class="post-title">{{ page.title }}</h2>
      <p class="post-meta center">by xunorus on {{ page.date | date: "%m/%d/%Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  	{{ content }}
    </article>
  </pre>
  <a href="#" class="scrollup">Scroll</a>


  <section class="blognavbar">
    <a class="glow navlist" href="{{ site.url }}/blog">
      <h3 class="center">  [blog-list]</h3>
       </a>

    {% if page.previous.url %}
    <a class="glow prevlink" href="{{ site.url }}{{page.previous.url}}">
      <h3 class="left">&laquo; {{page.previous.title}}</h3>
    </a>
    {% endif %}

        {% if page.next.url %}
        <a class="glow nextlink" href="{{ site.url }}{{page.next.url}}">
      <h3 class="right">{{page.next.title}} &raquo;</h3>
    </a>
    {% endif %}
  </section>

  <!-- FIN BARBA JS -->
</div>
{% include foot.html%}
